<div class="body flex flex-col min-h-screen font-body">
  <header class="mb-8 mt-6 w-full mx-auto flex justify-center items-center">
    <img class="w-48" src="assets/img/ngGirls-banner.png" alt="ngGirls"/>
    <h1 class="ml-3 text-5xl font-header text-darkRed">Kansas City 2020</h1>
  </header>

  <main class="mx-auto flex-grow">
    <ng-template [cdkPortalOutlet]="slide$ | async"></ng-template>
<!--    <div [ngSwitch]="slide$ | async">-->
<!--      <ng-container *ngSwitchCase="0">-->
<!--        <app-links></app-links>-->
<!--      </ng-container>-->
<!--      <ng-container *ngSwitchCase="1">-->
<!--        <app-schedule></app-schedule>-->
<!--      </ng-container>-->
<!--      <ng-container *ngSwitchCase="2">-->
<!--        <app-social></app-social>-->
<!--      </ng-container>-->
<!--    </div>-->

  </main>

  <footer class="mb-4 flex justify-center items-center text-darkCyan">
    <span class="inline-flex mr-10">
      <img class="h-12 w-12" src="assets/img/twitter.png" alt="twitter"/>
      <img class="h-12 w-12 ml-3" src="assets/img/facebook.png" alt="facebook"/>
    </span>

    <span class="text-3xl mr-16">@AngularGirlsKC</span>
    <div class="text-2xl">
      <span>#ngGirlsKC</span>
      <span class="ml-8">#codelikeagirl</span>
    </div>
    <img class="h-16 ml-20" src="assets/img/kcwit.png" alt="Kansas City Women in Technology" />
  </footer>
</div>

