<h2 class="text-6xl text-lightCyan mt-16">Schedule of events</h2>
<table class="mt-3 table-fixed text-2xl text-darkCyan">
  <tr>
    <td>9:30</td>
    <td>Workshop begins</td>
  </tr>
  <tr>
    <td>12:05 - 12:15</td>
    <td>Lightning talk - Breakout room</td>
  </tr>
  <tr>
    <td>12:15 - 1:00</td>
    <td>Lunch break</td>
  </tr>
  <tr>
    <td>1:00 - 1:10</td>
    <td>Lightning talk - Breakout room</td>
  </tr>
  <tr>
    <td>1:10 - 1:20</td>
    <td>Quiz 1 - Breakout room</td>
  </tr>
</table>
