<div [@fade]="'in'">
  <div class="text-center mt-16">
      <h2 class="text-5xl text-lightCyan">Thank you to our sponsors!</h2>
  </div>

  <!-- Partner Sponsors -->
  <div class="text-center mt-12">
      <h3 class="text-4xl text-darkCyan">Partner sponsors</h3>
      <table class="mt-auto w-8/12">
          <tr>
              <td><img class="h-32" src="assets/img/snapit.png" alt="SnapIT Solutions" /></td>
              <td class="text-center"><img class="h-32" src="assets/img/ku.jpg" alt="KU Lifelong & Professional Education" /></td>
              <td class="text-right"><img class="h-32" src="assets/img/kcwit.png" alt="Kansas City Women in Technology" /></td>
          </tr>
      </table>
  </div>

  <!-- Contributor Sponsors -->
  <div class="text-center mt-12">
      <h4 class="text-3xl text-darkCyan">Contributor sponsors</h4>
      <table class="mt-auto w-1/3">
          <tr>
              <td><img class="h-24" src="assets/img/oasis.png" alt="Oasis Digital" /></td>
              <td class="text-right"><img class="h-24" src="assets/img/vmlyr.png" alt="VMLY&R Foundation" /></td>
          </tr>
      </table>
  </div>
</div>
